<ion-view title="{{ 'history' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>        
        <div class="card" ng-repeat="day in days">
            <div class="item item-divider">
                {{ day[0].endTime | date }}
            </div>
            <div class="item item-text-wrap">
                <label class="item item-input item-stacked-label" ng-repeat="track in day">
                    <span class="input-label">{{ track.endTime | date: 'hh:mm' }}</span> {{ duration(track.timeInterval, 'seconds') }}                                        
                </label>
            </div>
            <div class="item item-divider">
                {{ 'Time feeding: ' | translate }} {{ getTotalFeed(day) }}
            </div>
        </div> 
        <ion-refresher
        ng-if="moreDataCanBeLoaded"
        pulling-text="Pull to load more..."
        on-refresh="getItems(1)">
        </ion-refresher>                       
  </ion-content>
</ion-view>
