<ion-view title="{{ 'history' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>    
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/app/track/add" class="button button-icon icon ion-plus-round"></a>
  </ion-nav-buttons>
  <ion-content class="list" on-infinite="getItems(1)">                
        <div class="list card" ng-repeat="day in days">
            <div class="item item-divider">
                {{ day[0].endTime | date }}
            </div>
            <div class="item item-text-wrap">
                <div ng-hold="showActions(track.id)" class="track-item item item-button-right" ng-repeat="track in day">
                    <b style="float:left;margin-right:15px">{{ track.endTime | date: 'hh:mm' }}</b><p> {{ duration(track.timeInterval, 'seconds') }}</p>
                </div>
            </div>
            <div class="item item-divider">
                {{ 'Time feeding: ' | translate }} {{ getTotalFeed(day) }}
            </div>
        </div>
        <ion-infinite-scroll
        ng-if="moreDataCanBeLoaded"      
        distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>