<ion-view title="{{ 'settings' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">    
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              {{ 'language' | translate }}
            </div>
            <select ng-model="language" ng-options="lan.text | translate for lan in languages track by lan.code"></select>
          </label>
          <label class="item item-input item-toggle">
            <div class="input-label">
              {{ 'Notifications' | translate }}
            </div>
            <label class="toggle">
             <input ng-model="notificationsEnabled" type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </label>
          <div class="item item-divider animate-if" ng-if="notificationsEnabled">
            {{ 'Notification settings' | translate }}
            <label class="item item-input item-input">
              <div class="input-label">
                {{ 'Interval (hours)' | translate }}
              </div>
              <input type="number" ng-model="notificationInterval" min="0" step="any"/>
            </label>
          </div>
          <label class="item item-input item-toggle">
            <div class="input-label">
              {{ 'Sleep notifications' | translate }}
            </div>
            <label class="toggle">
             <input ng-model="sleepEnabled" type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </label>
          <div class="item item-divider animate-if" ng-if="sleepEnabled">
            {{ 'Sleep settings: set period to disable notifications' | translate }}
            <label class="item item-input item-input">
              <div class="input-label">
                {{ 'Start sleep' | translate }}
              </div>
              <input type="time" ng-model="startSleep"/>
            </label>
            <label class="item item-input item-input">
              <div class="input-label">
                {{ 'Stop sleep' | translate }}
              </div>
              <input type="time" ng-model="stopSleep"/>
            </label>      
          </div>
        </div>
  </ion-content>
</ion-view>